body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
    0deg,
    rgb(19, 15, 32),
    rgba(15, 15, 15, 0.986)
  );
}

.wrapper-login {
  background-color: rgba(73, 73, 96, 0.86);
  width: 300px;
  height: 410px;
  margin: 0 auto;
  border-radius: 20px;

  padding: 1px;
}

.container-login {
  margin: 7rem;
  text-align: center;
  font-size: 40px;
  color: white;
}

/* NavBar Styles */

.nav {
  background-color: rgba(73, 73, 96, 0.86);
  color: rgb(188, 188, 188);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem;
}

.siteName {
  font-size: 4rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5rem;
  font-size: 1.5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 90%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.nav li:hover {
  background-color: #777;
}

/* Footer Styles */

.footer {
  margin: 2rem;
  text-align: center;
  font-size: 22px;
  margin-top: 140px;
  color: azure;
}

/* Login Styles */

.login {
  color: white;
  font-size: 3rem;
}

/* Button */

.button-login {
  height: 35px;
  width: 30%;

  background-color: #24bc89;
  border: none;
  color: white;
  margin: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 1px 7px rgba(99, 98, 98, 0.8);

  cursor: pointer;
}

/* Sign Up */

.signup {
  height: 35px;
  width: 30%;

  background-color: #7347b9;
  color: white;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 1px 7px rgba(99, 98, 98, 0.8);
  border: none;
}

.account {
  font-size: 1rem;
  margin-top: 1rem;
}
