* {
  text-align: center;
}
.container-signup {
  width: 50%;

  background-color: rgba(73, 73, 96, 0.86);
  margin: 8% auto;
  border-radius: 8px;
}
input {
  outline: none;
}
.name {
  width: 40%;
  height: 30px;
}
.otherField {
  width: 80%;
  height: 30px;
}
.sign {
  border: none;
  height: 35px;
  width: 30%;
  background-color: #7347b9;

  color: white;
  margin: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 6.5rem;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 1px 7px rgba(99, 98, 98, 0.8);
}

.login-signup {
  border: none;
  height: 35px;
  width: 80%;
  background-color: #24bc89;
  color: white;
  margin-bottom: 6rem;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 1px 7px rgba(99, 98, 98, 0.8);
  cursor: pointer;
}
.field_container {
  margin-bottom: 15px;
}
.main_button {
  padding-top: 40px;
}
.title-signup {
  color: white;
  margin-bottom: 3rem;
  font-size: 2rem;
}
.signin_padding {
  padding-top: 65px;
}

.signup-title {
  color: white;
  font-size: 4rem;
}
